@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@600&display=swap');

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    display: block;
    align-items: center;
    justify-content: center;
}

.row{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Button-b{
    display: flex;
    align-items: center;
    justify-content: center;
}

.w-100{
    max-width:200px;
    background-color: #50C134;
}

.Error{
    color: red;
}

.A_Paleta{
    text-decoration: none;
    cursor: pointer;
    color: red;
}